In [2]:
import pandas as pd

In [18]:
df = pd.read_csv('Rider-Info.csv')

In [19]:
df.head(2)

,order_time,order_id,order_date,allot_time,accept_time,pickup_time,delivered_time,rider_id,first_mile_distance,last_mile_distance,alloted_orders,delivered_orders,cancelled,undelivered_orders,lifetime_order_count,reassignment_method,reassignment_reason,reassigned_order,session_time,cancelled_time
0,2021-01-26 02:21:35,556753,2021-01-26 00:00:00,2021-01-26 02:21:59,2021-01-26 02:22:08,2021-01-26 02:32:51,2021-01-26 02:49:47,11696,1.5666,2.65,46.0,46.0,0,0.0,621.0,NaN,NaN,NaN,NaN,NaN
1,2021-01-26 02:33:16,556754,2021-01-26 00:00:00,2021-01-26 02:33:57,2021-01-26 02:34:45,2021-01-26 02:50:25,2021-01-26 03:11:15,18117,2.5207,2.76,8.0,8.0,0,0.0,105.0,NaN,NaN,NaN,3.266667,NaN

In [20]:
datetime_cols = [
    'order_time', 'order_date', 'allot_time', 'accept_time',
    'pickup_time', 'delivered_time', 'cancelled_time'
]

datecol = []
timecol = []

# Split each datetime column into date and time parts
for col in datetime_cols:
    df[f'{col}_date'] = pd.to_datetime(df[col], errors='coerce').dt.date
    datecol.append(f'{col}_date')
    df[f'{col}_time'] = pd.to_datetime(df[col], errors='coerce').dt.time
    timecol.append(f'{col}_time')

df.drop(columns=datetime_cols, inplace=True)

In [ ]:
# Create 'same_day_delivery' column: True if all non-null dates in row are the same
df['same_day_delivery'] = df[datecol].apply(
    lambda row: len(set(row.dropna())) == 1,
    axis=1
)

   same_day_delivery order_time_date order_date_date allot_time_date  \
0               True      2021-01-26      2021-01-26      2021-01-26
1               True      2021-01-26      2021-01-26      2021-01-26
2               True      2021-01-26      2021-01-26      2021-01-26
3               True      2021-01-26      2021-01-26      2021-01-26
4               True      2021-01-26      2021-01-26      2021-01-26

  accept_time_date pickup_time_date delivered_time_date cancelled_time_date
0       2021-01-26       2021-01-26          2021-01-26                 NaT
1       2021-01-26       2021-01-26          2021-01-26                 NaT
2       2021-01-26       2021-01-26          2021-01-26                 NaT
3       2021-01-26       2021-01-26          2021-01-26                 NaT
4       2021-01-26       2021-01-26          2021-01-26                 NaT